/* ----------------- Mobile ----------------- */
@media (max-width: 767px) {
  .card {
    --x: calc(var(--offset) * 15px);
    --y: calc(var(--offset) * 10px);
    --scale: calc(0.9 - (0.05 * abs(var(--offset))));
    --rotate: calc(var(--offset) * 1.5deg);

    transform:
      translate(var(--x), var(--y))
      scale(var(--scale))
      rotate(var(--rotate));

    opacity: calc(0.85 + (0.15 * var(--is-active)));

    box-shadow: 0 15px 10px rgba(0,0,0,0.15);
  }

  .feature {
    padding: 0vh;
    height: 80vh;
  }

  .feature-box {
    row-gap: 4vh;
  }

  .feature-box-heading {
    padding-top: 4vh;
    padding-bottom: 0vh;
  }

  .feature-box-heading-medium {
    font-size: var(--font-12);
  }

  .feature-box-heading-regular {
    font-size: var(--font-14);
    line-height: 1.3;
    padding: 0 2vh;
  }

  .feature-box-heading-regular br {
    display: none;
  }

  .carousel-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    padding: 0;
  }

  .carousel-nav {
    flex-direction: row;
    width: 100%;
    height: 12%;
    justify-content: center;
    padding: 10px 0 0 0;
  }

  .nav-item {
    width: 35px;  /* 2 * root font size */
    height: 35px;
  }

    .nav-item svg {
      width: .8rem;  /* 2 * root font size */
      height: .8rem;
    }

    .nav-item:hover,
    .nav-item.active {
      transform: scale(1.15);
      /* box-shadow: 0 6px 20px rgba(0,0,0,0.25); */
      opacity: 1;
      transform: translateY(85%);
      border-bottom-right-radius: 30%;
    }

    .nav-item.appointment.active {
        /* border-bottom-right-radius: 35%; */
        border-top-right-radius: 30%;
      }

    .nav-item:not(.active) {
      opacity: 0.6;
      transform: scale(0.95);
      transform: translateX(0%);

    }

    .nav-item.active::after,
    .nav-item:hover::after {
      content: '';
      position: absolute;
      left: 100%; 
      top: 50%;
      width: 80px; 
      height: 60px;
      background: var(--bg-color); 
      border-radius: 0 30px 30px 0;
      transform: translateY(-50%);
      transition: all 0.4s ease;
      z-index: -1;
      clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%); 
    }

  .carousel-content {
    margin-left: 0;
    width: 100%;
    height: 60vh; /* or a fixed / relative height */
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    flex-direction: column;  /* stack image + info vertically on mobile */
}


  .slide {
    position: absolute;
    /* inset: 0; */
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
    height: 100%;
    width: 70%;
  }

  .carousel-photo {
    border-radius: 20px;
    height: 50%;
    padding: 10px;
  }

  .carousel-info {
    width: 100%;
    height: 50%;
    min-width: auto;
    padding: 10px 10px;
  }

  .hook {
    font-size: var(--font-12);
  }

  .header {
    font-size: var(--font-14);
  }

  .main-info {
    font-size: var(--font-12);
  }
}

/* ----------------- Tablet ----------------- */
@media (min-width: 768px) and (max-width: 1350px) {
  .card {
    --x: calc(var(--offset) * 23px);
    --y: calc(var(--offset) * 15px);
    --scale: calc(0.9 - (0.05 * abs(var(--offset))));
    --rotate: calc(var(--offset) * 1.7deg);

    transform:
      translate(var(--x), var(--y))
      scale(var(--scale))
      rotate(var(--rotate));

    opacity: calc(0.85 + (0.15 * var(--is-active)));

    box-shadow: 0 15px 10px rgba(0,0,0,0.15);
  }

  .feature {
    padding: 2vh;
    height: 70vh;
  }

  .feature-box {
    row-gap: 1vh;
  }

  .feature-box-heading-medium {
    font-size: var(--font-14);
  }

  .feature-box-heading-regular {
    font-size: var(--font-20);
    line-height: 1.35;
  }

  .carousel-container {
    width: 90%;
    height: 90%;
  }

  .carousel-nav {
    gap: 15px;
    padding: 20px 0;
  }

    .nav-item {
      width: 38px;
      height: 38px;
      font-size: 2.2rem;
      border-radius: 35%;
    }
      .nav-item svg {
        width: 1.1rem;  /* 2 * root font size */
        height: 1.1rem;
      }

      .nav-item.active {
        transform: translateX(170%) scale(1.15);
        border-bottom-right-radius: 35%;
      }
      .nav-item.appointment.active {
        /* border-bottom-right-radius: 35%; */
        border-top-right-radius: 35%;
      }

  .carousel-content {
    margin-left: 0px;
  } 
    .slide {
      height: 80%;
      width: 100%;
    }

    .card img {
      padding: 0px;
    }

  .carousel-info {
    width: 45%;
    padding: 30px 20px;
  }

  .hook {
    font-size: var(--font-14);
  }

  .header {
    font-size: var(--font-18);
  }

  .main-info {
    font-size: var(--font-14);
  }
}
