.industry { 
  /* background-image: linear-gradient(to bottom, #14181F, #00889A, #F5F6FA); */
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  min-height: 88vh;
  padding: 2vh;
  /* background-color: red; */
}

  .industry-box { 
    /* background-color: slategray;  */
      width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
    height: 100%;
    padding-bottom: 4vh;
  }
 
    .industry-box-in { 
      /* background-color: lightslategray;  */
        width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4vh;
    }

      .industry-heading { 
        /* background-color: steelblue;  */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1vh;
        padding-top: 6vh;
        padding-bottom: 2vh;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        overflow-y: hidden;
      }
        .industry-heading-medium { 
          font-size: var(--font-size-16);
          font-weight: var(--font-weight-semibold);
          color: var(--primary-color);
        }

        .industry-heading-header { 
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          line-height: 1.3;
          text-align: center;
          font-size: var(--font-size-24);
          font-weight: var(--font-weight-medium);
          color: var(--black-color);

          color: #14181f;
          background-image: linear-gradient(135deg, #14181f 37%, #00889a 92%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
              display: inline-block;
        }
        /* .industry-heading-header-semibold { background-color: aliceblue; } */

      .industry-content { 
        /* background-color: seagreen;  */
        display: flex;
        flex: 1;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        overflow-y: hidden;
        gap: 2vh;
        padding: 0vh 16vh;
      }

        .industry-content-left { 
          background-color: var(--white-color); 
          width: 50%;
          /* height: 100%; */
          height: 66vh;
          display: flex;
          flex-direction: column;
          padding: 2vh 2vh 2vh 2vh;
          gap: 4vh;
          border-radius: 1rem;   

          box-shadow: 0px 0px 100px rgba(0, 136, 154, 0.05);
          
          position: relative;         
          overflow: hidden;           
          background:
            radial-gradient(farthest-corner at 0% 0%,
              rgba(245, 246, 250, 0.6) 0%,    
              transparent 70%),
              
            radial-gradient(farthest-corner at 100% 100%,
              rgba(245, 246, 250, 0.09) 0%,    
              transparent 70%)
            #ffffff;

        }
          .industry-content-left-header { 
            /* background-color: lightseagreen;  */
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* align-items: flex-end; */
            gap: 2vh;
          }
            .industry-content-left-header-medium { 
              /* background-color: aquamarine;  */
              align-self: center;
              font-size: var(--font-size-20);
              font-weight: var(--font-weight-regular);
              color: var(--black-color-opacity-75);

            }
            .industry-content-left-header-line { 
              background-color: var(--gray-100); 
              width: 80%;
              height: 0.2rem;
              border-radius: 500px;
              /* background-image: linear-gradient(135deg, #14181f 37%, #00889a 92%); */
            }
          .industry-content-left-box { 
            /* background-color: honeydew;  */
            flex: 1;
          }

        .industry-content-right { 
          background-color: var(--white-color); 
          width: 50%;
          /* height: 100%; */
          height: 66vh;
          display: flex;
          flex-direction: column;
          padding: 2vh 2vh 2vh 2vh;
          gap: 4vh;
          border-radius: 1rem;
          box-shadow: 0px 0px 100px rgba(0, 136, 154, 0.05);

          --_gradient-blend-mode: normal;
          --_gradient-blur: 0px;

          background: 
            radial-gradient(at 39.8% 33.6%, rgba(255, 255, 255, 0.5) 0px, transparent 50%), 
            radial-gradient(at 94.6% 89.7%, rgba(245, 246, 250, 0.5) 0px, transparent 50%), 
            radial-gradient(at 100% 55.5%, rgba(245, 246, 250, 0.5) 0px, transparent 50%), 
            radial-gradient(at 97.1% 0.7%, rgba(76, 252, 226, 0.03) 0px, transparent 50%), 
            radial-gradient(at 68% 24.9%, rgba(236, 250, 220, 0.5) 0px, transparent 50%), 
            radial-gradient(at 46% 79%, rgba(51, 255, 214, 0.03) 0px, transparent 50%), 
            radial-gradient(at 95.5% 23.1%, rgba(255, 255, 255, 0.5) 0px, transparent 50%), 
            radial-gradient(at 71.5% 78.8%, rgba(20, 250, 143, 0.03) 0px, transparent 50%) #ffffff;
          mix-blend-mode: var(--_gradient-blend-mode);

            .frosted-backdrop {
              backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
              -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
            }
            
        }
          .industry-content-right-header { 
            /* background-color: goldenrod;  */
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* align-items: flex-end; */
            gap: 2vh;
          }
            .industry-content-right-header-medium { 
              /* background-color: gold;  */
              align-self: center;
              font-size: var(--font-size-20);
              font-weight: var(--font-weight-regular);
              color: var(--black-color-opacity-75);
            }
            .industry-content-right-header-line { 
              background-color: var(--gray-100); 
              width: 80%;
              height: 0.2rem;
              border-radius: 500px;
            }

          .industry-content-right-cards { 
            background-color: var(--white-color-opacity-60); 
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 2vh;
            gap: 2vh;
            border-radius: 0.6rem;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.03);
            padding: 2vh;

            

          }
            .industry-content-right-cards-card { 
              background-color: var(--secondary-color-opacity-60);
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex: 1; 
              padding: 2vh;
              gap: 2vh;
              border-radius: 0.6rem;
              box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.03);
            }
              .industry-content-right-cards-card-icon { 
                /* background-color: moccasin;  */
                background: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 0.5) 0%,  
                  rgba(245, 246, 250, 0.5) 50%,  
                  rgba(0, 136, 154, 0.03) 100%    
                );
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1 / 1;
                padding: 2vh;
                border-radius: 0.4rem;
                color: black;
              }
              .industry-content-right-cards-card-regular { 
                display: flex;
                align-items: center;
                flex: 1;
                height: 100%;
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-regular);
                color: var(--gray-700);
              }
