.homeFeatures {
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);
  
  background-color: none;
}
.homeFeatures-box {
  /* background-color: var(--gray-100); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2vh 12vh;
  gap: 4vh;
}
.homeFeatures-box-in {
  /* background-color: var(--gray-500); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.homeFeatures-heading {
  width: 100%;
  /* background-color: green; */
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
  text-align: center;
}
/* .homeFeatures-button {} */
.homeFeatures-ui {}

.homeFeatures-ui {
  all: unset;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2vh;
}

.features-container-left {
  position: relative;
  overflow: hidden;
  flex: 1.5;
  background: #DDEDF0;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  font-family: 'Inter', system-ui;
  padding: 50px 0 100px 50px;
  border-radius: 2vh;
}

.feature-left-content,
.feature-middle-content {
  z-index: 1;
}

.laptop-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  object-fit: contain;
  pointer-events: none;
}

.certificate-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

.calendar-image {
  position: absolute;
  
}
.feature-left-catch {
  color: var(--gray-color);
  font-size: var(--font-size-12);
}

.features-container-middle {
  position: relative;
  overflow: hidden;
  flex: 1;
  background:#f6f7f9;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 100px 50px;
  border-radius: 1vh;
}

.feature-middle-catch {
  color: var(--gray-color);
  font-size: var(--font-size-12);
}

.features-container-right {
  position:relative;
  overflow: hidden;
  flex: 1;
  background:#f6f7f9;
  color: white;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 350px 50px;
  border-radius: 1vh;
}

.feature-right-catch {
  color: var(--gray-color);
  font-size: var(--font-size-12);
}

.image-component {
  z-index: -1;
}

.homeFeatures-ui img {
  max-width: 100%;
  height: auto;
  max-height: 100%;           
  object-fit: contain;  
}

