.homeFeatures {
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);

  --_gradient-blend-mode: normal;
  --_gradient-blur: 100px;

  background: 
    radial-gradient(at 55.9% 88.2%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 25.6% 31.8%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 81.8% 32.5%, rgba(245,246,250,0.5) 0px, transparent 50%),
    radial-gradient(at 74.5% 1.2%, rgba(0,194,219,0.00) 0px, transparent 50%),
    radial-gradient(at 80.2% 53.6%, rgba(0,207,231,0.05) 0px, transparent 50%),
    radial-gradient(at 20.8% 52.7%, rgba(0,207,231, 0.09) 0px, transparent 50%),
    radial-gradient(at 90.9% 57.6%, rgba(0,182,207,0.03) 0px, transparent 50%),
    radial-gradient(at 3.9% 54.2%, rgba(0,182,207,0.03) 0px, transparent 50%) 
    #f5f6fa;
  mix-blend-mode: var(--_gradient-blend-mode);

    
  .frosted-backdrop {
    backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
  }
}
.homeFeatures-box {
  /* background-color: var(--gray-100); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2vh 12vh;
  gap: 4vh;
}
.homeFeatures-box-in {
  /* background-color: var(--gray-500); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.homeFeatures-heading {
  width: 100%;
  /* background-color: green; */
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
  text-align: center;
}
/* .homeFeatures-button {} */
.homeFeatures-ui {}

.homeFeatures-ui {
  all: unset;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2vh;
}

.homeFeatures-ui img {
  max-width: 100%;
  height: auto;
  max-height: 100%;           
  object-fit: contain;  
}