.homeabout {
  background-color: none; 
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);
}

.homeabout-box {
  /* background-color: steelblue; */
  width: 100%;
  height: 100%;
  padding: 2vh 15vh;
}

.homeabout-box-in {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10%;
}

.homeabout-ui {
  /* background-color: lightseagreen; */
  height: 100%;
  max-width: 50%;
}

.homeabout-ui img {
  /* background-color: green; */
    height: 100%;
  object-fit: contain;
}

.homeabout-text {
  /* background-color: mediumaquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  gap: 2vh;
}

.homeabout-text-light {
  /* background-color: palegreen; */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--gray-color);
  line-height: 1;
}

.homeabout-text-semibold {
  /* background-color: lightcyan; */
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
}

.homeabout-text-regular {
  /* background-color: lavender;  */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--black-color);
  line-height: 1.8;
  /* padding-top: 2vh; */
}