.homeabout {
  /* background-color: darkslategray;  */
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);

    --_gradient-blend-mode: normal;
  --_gradient-blur: 100px;

  background: 
    radial-gradient(at 55.9% 88.2%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 25.6% 31.8%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 81.8% 32.5%, rgba(245,246,250,0.5) 0px, transparent 50%),
    radial-gradient(at 74.5% 1.2%, rgba(0,194,219,0.00) 0px, transparent 50%),
    radial-gradient(at 80.2% 53.6%, rgba(0,207,231,0.05) 0px, transparent 50%),
    radial-gradient(at 20.8% 52.7%, rgba(0,207,231, 0.09) 0px, transparent 50%),
    radial-gradient(at 90.9% 57.6%, rgba(0,182,207,0.03) 0px, transparent 50%),
    radial-gradient(at 3.9% 54.2%, rgba(0,182,207,0.03) 0px, transparent 50%) 
    #f5f6fa;
  mix-blend-mode: var(--_gradient-blend-mode);

    
  .frosted-backdrop {
    backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
  }

}

.homeabout-box {
  /* background-color: steelblue; */
  width: 100%;
  height: 100%;
  padding: 2vh 15vh;
}

.homeabout-box-in {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10%;
}

.homeabout-ui {
  /* background-color: lightseagreen; */
  height: 100%;
  max-width: 50%;
}

.homeabout-ui img {
  /* background-color: green; */
    height: 100%;
  object-fit: contain;
}

.homeabout-text {
  /* background-color: mediumaquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  gap: 2vh;
}

.homeabout-text-light {
  /* background-color: palegreen; */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--gray-color);
  line-height: 1;
}

.homeabout-text-semibold {
  /* background-color: lightcyan; */
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
}

.homeabout-text-regular {
  /* background-color: lavender;  */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--black-color);
  line-height: 1.8;
  /* padding-top: 2vh; */
}