.homeabout {
  background-color: none; 
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);
}

.homeabout-box {
  /* background-color: steelblue; */
  width: 100%;
  height: 100%;
  padding: 2vh 15vh;
}

.homeabout-box-in {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10%;
}

.homeabout-ui {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.homeabout-ui-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.statistic-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
  width: 100%;
}

.statistic-container-top {
  display: flex;
  justify-content: center;
  max-width: 400px;
  box-shadow: var(--shadow-primary-lg);
  opacity: 0.5;
  align-self: flex-end;
}

.statistic-container-bottom {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  max-width: 300px;
  box-shadow: var(--shadow-primary-lg);
  opacity: 0.5;
}

.statistic {
  display: flex;
  width: 100%;
  background-color: var(--white-color);
  padding: 10px 50px 10px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 2vh;
  gap: 10px;
  align-items: center;
}

.graph {
  width: 5px;
  height: 90%;
  background: linear-gradient(to bottom, var(--primary-color), transparent);
}

.statistics-percentage {
  color: var(--black-color);
}

.statistics-category {
  color: var(--gray-color);
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-semibold);
}

.homeAbout-ui-right {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.guide-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f7f9;
}

.guide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 3vh;
  width: 100%;
  border-radius: 10px;
}

.guide-header p {
  color: var(--black-color);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semibold);
}

.guide-nav-icons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-color);
  gap: 10px;
  font-weight: var(--font-weight-semibold);
  height: 25%;
  width: 100%;
}

.nav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-color);
  gap: 10px;
  font-weight: var(--font-weight-semibold);
  height: 25%;
  width: 100%;
}

.nav-title {
  width: 80%;
}

.icon-container-white {
  width: 50px;
  height: 45px;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-primary-lg);
}

.icon-container-primary {
  width: 50px;
  height: 45px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-primary-lg);
}

.icon-container-white svg,
.icon-container-primary svg{
  width: 30px;
  height: 30px;
}

.concorde-logo {
  width: 80%;
  height: auto;
}



/* .homeabout-ui img {
  background-color: green;
    height: 100%;
  object-fit: contain;
} */

.homeabout-text {
  /* background-color: mediumaquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  gap: 2vh;
}

.homeabout-text-light {
  /* background-color: palegreen; */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--gray-color);
  line-height: 1;
}

.homeabout-text-semibold {
  /* background-color: lightcyan; */
  font-size: var(--font-size-28);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
}

.homeabout-text-regular {
  /* background-color: lavender;  */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--gray-color);
  line-height: 1.8;
  /* padding-top: 2vh; */
}

/*hello*/