

.blog {
  background-color: red;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 2vh;
  
}

.blog-main {
  background-color: blue;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.blog-main-content {
  background-color: violet;
  display: flex;
  height: 100%;
}

.blog-main-content-left {
  background-color: gray;
  width: 80%;
}

.blog-main-content-right {
  background-color: orange;
  width: 20%;
}