* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  overflow-x: hidden;

  background-color: var(--secondary-color);

    --_gradient-blend-mode: normal;
  --_gradient-blur: 100px;

  background: 
    radial-gradient(at 55.9% 88.2%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 25.6% 31.8%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 81.8% 32.5%, rgba(245,246,250,0.5) 0px, transparent 50%),
    radial-gradient(at 74.5% 1.2%, rgba(0,194,219,0.07) 0px, transparent 50%),
    radial-gradient(at 80.2% 53.6%, rgba(0,207,231,0.03) 0px, transparent 50%),
    radial-gradient(at 20.8% 52.7%, rgba(0,207,231,0.03) 0px, transparent 50%),
    radial-gradient(at 90.9% 57.6%, rgba(0,182,207,0.03) 0px, transparent 50%),
    radial-gradient(at 3.9% 54.2%, rgba(0,182,207,0.03) 0px, transparent 50%) 
    #f5f6fa;
  mix-blend-mode: var(--_gradient-blend-mode);

    
  .frosted-backdrop {
    backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
  }
}