.certificateFeature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 0 0 70px 0;
    box-shadow: var(--shadow-primary-lg);
}

.certificate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: var(--white-color);
    border-radius: 5px; 
}

.certificate-inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 10px;
}

.certificate-profile {
    display: flex;
    gap: 5px;
}

.profile-info {}

.title {
    font-size: var(--font-size-10);
    color: var(--gray-color);
}

.certificate-expiration {
    display: flex;
    justify-content: end;
}

.certificate-expiration p {
    color: var(--gray-color);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-semibold);
}

.certificate-notify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notify-button {
    display: flex;
    color: var(--primary-color);
    gap: 5px;
    border: 1px solid var(--primary-color);
    width: fit-content;
    padding: 6px;
    border-radius: 5px;
    box-shadow: var(--shadow-primary-lg)
}

.notify-button p {
    font-size: var(--font-size-11);
}

.notify-date p {
    color: var(--gray-color);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-semibold);
}

@media (min-width: 768px) and (max-width: 1275px) {
.notify-date p{
    font-size: var(--font-10);
  }

.certificateFeature {
    width: 85%;
    height: auto;
    display: flex;
}
.certificate-notify {
    flex-direction: column-reverse;
    gap: 10px;
}

.certificate-expiration {
    justify-content: center;
}

.certificateFeature {
    margin: 0 0 0px;
  }

.certificate-inner-container {
    padding: 10px;
}

.certificate-profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.profile-picture svg {
    width: 30px;
    height: 30px;
}
.notify-button p {
    font-size: var(--font-10);
}
.notify-button svg {
    width: 17px;
    height: 17px;
}
}