.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0vh;
    overflow-x: hidden;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2vh;
    overflow-x: hidden;
}

.footer-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-half-circle-arc {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  transform: translateX(-35%);
}

.left-half-circle-arc {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  transform: translateX(-35%);
}

.left-half-circle-arc::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 0 0 300px 300px;

  background: linear-gradient(
    to top right,
    transparent 0%,
    #006f83 35%,
    #00889a 40%,
    #00c0d0 50%,
    #00889a 60%,
    #006f83 75%,
    transparent 80%
  );

  padding: 45px;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

          mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  clip-path: inset(45px 0 0 0);
}


.right-half-circle-arc {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  transform: translateX(35%);
}

.right-half-circle-arc::before {
  content: '';
  position: absolute;
  inset: 0;

  border-radius: 300px 300px 0 0;

  background: linear-gradient(
    to bottom left,
    transparent 0%,
    #006f83 35%,
    #00889a 40%,
    #00c0d0 50%,
    #00889a 60%,
    #006f83 75%,
    transparent 80%
  );

  padding: 45px;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

          mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  clip-path: inset(0 0 45px 0);
}



.footer-middle {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    gap: 25px;
}

.middle-cta-hook {
    color: var(--black-color);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
    font-family: 'Inter', system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle-cta-catch {
    color: var(--gray-color);
    font-size: var(--font-size-13);
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mid-cta-button {
    all: unset;
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 70%
    ),
    linear-gradient(
        to right,
        #006f83 0%,
        #00889a 35%,
        #00c0d0 55%,
        #00889a 75%,
        #006f83 100%
    );
    background-size: 200% auto;
    background-position: left center;
    color: var(--white-color);
    padding: 1.6vh 6vh;
    text-align: center;
    font-family: var(--font-accent);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    border: none;
    border-radius: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer;
    transition: background-position 0.5s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.mid-cta-button:hover {
    background-position: right center;
    color: var(--white-color);
    text-decoration: none;
    transform: scale(1.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.footer-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}