.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2vh;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2vh;
}

.footer-left {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .left-half-circle-arc {
    width: 320px;
    height: 160px;
    position: relative;
    overflow: hidden;
} */

.footer-middle {
    /* flex: 1.5; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    gap: 25px;
}

.middle-cta-hook {
    color: var(--black-color);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
    font-family: 'Inter', system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle-cta-catch {
    color: var(--gray-color);
    font-size: var(--font-size-13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-cta-button {
    all: unset;
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 70%
    ),
    linear-gradient(
        to right,
        #006f83 0%,
        #00889a 35%,
        #00c0d0 55%,
        #00889a 75%,
        #006f83 100%
    );
    background-size: 200% auto;
    background-position: left center;
    color: var(--white-color);
    padding: 1.6vh 6vh;
    text-align: center;
    font-family: var(--font-accent);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    border: none;
    border-radius: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer;
    transition: background-position 0.5s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.mid-cta-button:hover {
    background-position: right center;
    color: var(--white-color);
    text-decoration: none;
    transform: scale(1.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.footer-right {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}