@media (max-width: 768px) {

.demo {
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1vh;
}
 
.demo-box {
  /* background-color: var(--gray-100); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2vh 1vh;
  gap: 4vh;
}

  .demo-box-pointer {
    /* background-color: #e0f7fa; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    
  }
  .demo-box-pointer-regular {
    font-size: var(--font-size-12);
      font-weight: var(--font-weight-medium);
      color: var(--gray-color);
  }
    .demo-box-pointer-down {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.8vh;
 
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-medium);
      color: var(--primary-color);
    }

  .demo-box-in {
    /* background-color: var(--gray-500); */
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 2vh;
  }

    .demo-box-in-main {
      /* background-color: var(--white-color); */
      /* background-color: red;
      padding: 2vh; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      border-radius: 1rem;
      box-shadow: 0px 0px 50px rgba(0, 136, 154, 0.10);
    }

    .demo-box-in-toggle {
      /* background-color: #e0f2f1; */
      height: 100%;
      width: 100%;
    }

      .demo-box-in-toggle-bg {
        background-color: var(--white-color);
        display: flex;
        flex-direction: row;      
        width: 100%;
        height: 10vh;
        padding: 1vh;
        gap: 1vh;
        border-radius: 500px;
        box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10);
      }

        .demo-box-in-toggle-bg-user {
          background-color: var(--primary-color-opacity-15);
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 2vh;
          /* border-radius: 500px; */
          /* padding-bottom: 3vh; */
          padding: 1vh;
          height: auto;
          border-top-left-radius: 500px;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 500px;

          font-size: var(--font-size-16);
          font-weight: var(--font-weight-medium);
          color: var(--black-color);

          
        }
 
          .demo-box-in-toggle-bg-user-icon {
            all: unset;
            background-color: var(--secondary-color);
            /* background-color: red; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* gap: 0.4vh; */
            /* height: 9.2vh; */
            padding: 1.4vh;
            border-radius: 500px;
            
            border: none;

          }

        .demo-box-in-toggle-bg-admin {
          all: unset;
          background-color: var(--secondary-color);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.4vh;
          height: 9.2vh;
          border-radius: 0.4rem;
          font-size: var(--font-size-12);
          font-weight: var(--font-weight-medium);
          color: var(--black-color);
          border: 2px solid var(--primary-color-opacity-15);
        }

 

}