@media (max-width: 768px) {

  .demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1vh;
  }

  .demo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2vh 1vh;
    gap: 4vh;
  }

  .demo-box-pointer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }

  .demo-box-pointer-regular {
    font-size: var(--font-12);
    font-weight: var(--font-weight-medium);
    color: var(--gray-color);
  }

  .demo-box-pointer-down {
    display: flex;
    align-items: center;
    gap: 0.8vh;
    font-size: var(--font-16);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
  }

  .demo-box-in {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 2vh;
  }

  .demo-box-in-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 1rem;
    box-shadow: 0 0 50px rgba(0, 136, 154, 0.1);
  }

  .demo-box-in-toggle {
    width: 100%;
    height: 100%;
  }

  .demo-box-in-toggle-bg {
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    padding: 1vh;
    gap: 1vh;
    border-radius: 500px;
    box-shadow: 0 0 20px rgba(0, 136, 154, 0.1);
  }

  .demo-box-in-toggle-bg-user {
    background-color: var(--primary-color-opacity-15);
    width: 50%;
    display: flex;
    align-items: center;
    gap: 2vh;
    padding: 1vh;
    border-radius: 500px;
    font-size: var(--font-16);
    font-weight: var(--font-weight-medium);
  }

  .demo-box-in-toggle-bg-user-icon {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4vh;
    border-radius: 500px;
  }

  .demo-box-in-toggle-bg-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.2vh;
    border-radius: 0.4rem;
    font-size: var(--font-12);
    font-weight: var(--font-weight-medium);
    color: var(--black-color);
    border: 2px solid var(--primary-color-opacity-15);
  }
}


@media (min-width: 768px) and (max-width: 1350px) {

  .demo {
    padding: 0vh;
  }

  .demo-box {
    padding: 3vh 2vh;
    gap: 5vh;
  }

  .demo-box-pointer-regular {
    font-size: var(--font-14);
  }

  .demo-box-pointer-down {
    font-size: var(--font-16);
  }

  .demo-box-in {
    gap: 3vh;
  }

  .demo-box-in-toggle-bg {
    height: 11vh;
  }

  .demo-box-in-toggle-bg-user {
    font-size: var(--font-14);
    padding: 1.2vh;
  }

  .demo-box-in-toggle-bg-admin {
    font-size: var(--font-12);
  }
}