.feature {
  /* background: #14181F; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 128.3vh; */
  min-height: 142.5vh;
  padding: 2vh;
  /* box-sizing: border-box; */

}
/* 
.feature::before {
  content: "";
  position: absolute;
  inset: 0; 
  pointer-events: none;  
  z-index: 1;


} */

  .feature-box {
    /* background-color: slategray; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 2vh;
    /* box-sizing: border-box; */
  }

    .feature-box-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1vh;
      padding-top: 6vh;
      padding-bottom: 2vh;
    }
    .feature-box-heading-medium {
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-semibold);
      color: var(--primary-color);
    }
    .feature-box-heading-regular {
      font-size: var(--font-size-24);
      font-weight: var(--font-weight-medium);
      color: var(--black-color);
      /* color: #14181f; */

      /* background: linear-gradient(143deg, #14181f, #00889a, #00ffdc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */

      /* background: #14181F;
      background: linear-gradient(to bottom right, #14181F 42%, #00889A 87%, #FFFFFF 99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */

      background-image: linear-gradient(135deg, #14181f 37%, #00889a 92%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      line-height: 1.4;
    }

    .feature-box-in {
      /* background-color: tan; */
      display: flex;
      flex-direction: column;
      justify-content: center;   
      align-items: center;       
      /* row-gap: 2vh; */
      width: 100%;
      height: 100%;          
      padding: 2vh 8vh;
      /* box-sizing: border-box;
      overflow: hidden; */
    }

      .feature-top { 
        /* background-color: dodgerblue;  */
        display: flex;
        width: 100%;
        height: 50%;
        /* gap: 2vh; */
      } 

        .feature-top main { 
          background-color: var(--white-color); 
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 100%;
          gap: 4vh;
          padding: 4vh 8vh;

          
        } 
          .feature-top-appointment {
            border-top: 3px solid var(--primary-color-opacity-10);
            border-bottom: 1.5px solid var(--primary-color-opacity-10);
            border-right: 1.5px solid var(--primary-color-opacity-10);
            border-left: none;
            /* background: linear-gradient(135deg, #f5f6fa 15%, #FFFFFF 36%, #FFFFFF 70%) */
            /* background: radial-gradient(farthest-corner at 50% 50%, #FFFFFF 38%, #FFFFFF 53%, #f5f6fa 98%); */

            background:
              radial-gradient(farthest-corner at 0% 0%,
                rgba(245, 246, 250, 0.5) 0%,    /* #f5f6fa at ~9%  */
                transparent 72%),
                
              radial-gradient(farthest-corner at 0% 100%,
                rgba(245, 246, 250, 0.9) 0%,    /* #f5f6fa at ~8%  */
                transparent 72%);  



          }

          .feature-top-inventory {
            border-top: 3px solid var(--primary-color-opacity-10);
            border-bottom: 1.5px solid var(--primary-color-opacity-10);
            border-left: 1.5px solid var(--primary-color-opacity-10);
            border-right: none;

            background:
              radial-gradient(farthest-corner at 100% 0%,      /* top-right */
                rgba(245, 246, 250, 0.5) 0%,
                transparent 72%),
                
              radial-gradient(farthest-corner at 100% 100%,    /* bottom-right */
                rgba(245, 246, 250, 0.9) 0%,
                transparent 72%);
          }

          .feature-top article { 
            /* background-color:  var(--gray-300);  */
            display: flex;
            flex-direction: column;
            gap: 2vh;

            font-size: var(--font-size-12);
            font-weight: var(--font-weight-regular);
            color: var(--black-color-opacity-60);          
          } 

            .feature-top header { 
              /* background-color:  var(--gray-500);  */
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1vh;

              font-size: var(--font-size-16);
              font-weight: var(--font-weight-medium);
              color: var(--black-color);
            } 

              .feature-top-appointment-text-heading-icon { 
                /* background-color: aliceblue;  */
                display: flex;
                justify-content: center;
                align-items: center;
              }
                .feature-top-appointment-text-regular {
                  /* background-color:  var(--gray-100);  */
                  max-height: 8vh;
                }
        
              .feature-top-inventory-text-heading-icon { 
                /* background-color: aliceblue;  */
                display: flex;
                justify-content: center;
                align-items: center;
              }

                .feature-top-inventory-text-regular {
                  /* background-color:  var(--gray-100);  */
                  max-height: 8vh;
                }

          .feature-top aside { 
            background-color: var(--primary-color-opacity-15);
            display: flex;                   
            justify-content: center;  
            align-items: center; 
            width: 100%;   
            /* height: 33.7vh; */
            /* height: 45vh; */
            height: 39.5vh;
            overflow: hidden;  
            border-radius: 0.6rem;   
          } 
            .feature-top-appointment-display img {
              width: 100%;
              height: 100%;  
              object-fit: contain;   
              display: block;     
            }

            .feature-top-inventory-display img {
              width: 100%;
              height: 100%;                 
              object-fit: contain;   
              display: block;        
            }

      .feature-bot { 
        /* background-color: dodgerblue;  */
        display: flex;
        width: 100%;
        height: 50%;
        /* gap: 2vh; */
      } 

        .feature-bot main { 
          background-color: var(--white-color); 
          /* background-color:blanchedalmond; */
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 100%;
          gap: 4vh;
          padding: 4vh 8vh;
        } 

          .feature-bot-recruitment {
            border-top: 1.5px solid var(--primary-color-opacity-10);
            border-bottom: 3px solid var(--primary-color-opacity-10);
            border-right: 1.5px solid var(--primary-color-opacity-10);
            border-left: none;

            background:
              radial-gradient(farthest-corner at 0% 0%,
                rgba(0, 136, 154, 0.03) 0%,    /* ≈ 8% opacity of #00889a */
                transparent 70%),
                
              radial-gradient(farthest-corner at 0% 100%,
                rgba(245, 246, 250, 0.9) 0%,    /* #f5f6fa at ~8%  */
                transparent 72%);  
          }

          .feature-bot-task {
            border-top: 1.5px solid var(--primary-color-opacity-10);
            border-bottom: 3px solid var(--primary-color-opacity-10);
            border-left: 1.5px solid var(--primary-color-opacity-10);
            border-right: none;

            background:
              radial-gradient(farthest-corner at 100% 0%,      /* top-right */
                rgba(245, 246, 250, 0.9) 0%,
                transparent 72%),
                
              radial-gradient(farthest-corner at 100% 100%,    /* bottom-right */
                rgba(245, 246, 250, 0.6) 0%,
                transparent 72%);
          }
 
          .feature-bot article { 
            /* background-color:  var(--gray-300);  */
            display: flex;
            flex-direction: column;
            gap: 2vh;

            font-size: var(--font-size-12);
            font-weight: var(--font-weight-regular);
            color: var(--black-color-opacity-60);    
            
          } 

              .feature-bot-recruitment-text-heading-icon { 
                /* background-color: aliceblue;  */
                display: flex;
                justify-content: center;
                align-items: center;
              }
                .feature-bot-recruitment-text-regular {
                  /* background-color:  var(--gray-100);  */
                  max-height: 8vh;
                }
        
              .feature-bot-task-text-heading-icon { 
                /* background-color: aliceblue;  */
                display: flex;
                justify-content: center;
                align-items: center;
              }

                .feature-bot-task-text-regular {
                  /* background-color:  var(--gray-100);  */
                  max-height: 8vh;
                }

            .feature-bot header { 
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1vh;

              font-size: var(--font-size-16);
              font-weight: var(--font-weight-medium);
              color: var(--black-color);
            } 

              .feature-bot-recruitment-text-heading-icon { 
                /* background-color: aliceblue;  */
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .feature-bot-task-text-heading-icon { 
                /* background-color: aliceblue;  */
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .feature-bot aside { 
                background-color: var(--primary-color-opacity-15);
                display: flex;                   
                justify-content: center;  
                align-items: center; 
                width: 100%;   
                /* height: 33.7vh;            */
                height: 39.5vh;
                overflow: hidden;  
                border-radius: 0.6rem;  
              } 

                .feature-bot-recruitment-display img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;   
                  display: block;        
                }

                .feature-bot-task-display img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;   
                  display: block;        
                }



/* for specific editing use these classnames */
        /* .feature-top-appointment { background-color: skyblue; }
          .feature-top-appointment-text { background-color: lightskyblue; }
            .feature-top-appointment-text-heading { background-color: lightblue; }
              .feature-top-appointment-text-heading-icon { background-color: aliceblue; }
            .feature-top-appointment-text-icon-semibold { background-color: powderblue; }
            .feature-top-appointment-text-regular { background-color: paleturquoise; }
          .feature-top-appointment-display { background-color: azure; }

        .feature-top-inventory { background-color: mediumseagreen; }
          .feature-top-inventory-text { background-color: seagreen; }
            .feature-top-inventory-text-heading { background-color: mediumaquamarine; }
              .feature-top-inventory-text-heading-icon { background-color: aquamarine; }
            .feature-top-inventory-text-icon-semibold { background-color: lightgreen; }
            .feature-top-inventory-text-regular { background-color: palegreen; }
          .feature-top-inventory-display { background-color: honeydew; }

      .feature-bot { background-color: darkorange; }

        .feature-bot-recruitment { background-color: coral; }
          .feature-bot-recruitment-text { background-color: lightsalmon; }
            .feature-bot-recruitment-text-heading { background-color: peachpuff; }
              .feature-bot-recruitment-text-heading-icon { background-color: moccasin; }
            .feature-bot-recruitment-text-icon-semibold { background-color: navajowhite; }
            .feature-bot-recruitment-text-regular { background-color: papayawhip; }
          .feature-bot-recruitment-display { background-color: blanchedalmond; }

        .feature-bot-task { background-color: crimson; }
          .feature-bot-task-text { background-color: lightcoral; }
            .feature-bot-task-text-heading { background-color: mistyrose; }
              .feature-bot-task-text-heading-icon { background-color: seashell; }
            .feature-bot-task-text-icon-semibold { background-color: linen; }
            .feature-bot-task-text-regular { background-color: floralwhite; }
          .feature-bot-task-display { background-color: oldlace; } */


