.homeBenefits {
  /* background-color: darkred; */
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);

  background-color: none;
}

.homeBenefits-box {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  padding: 2vh 15vh;
}

.homeBenefits-box-in {
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4vh;
}

.homeBenefits-heading {
  /* background-color: firebrick; */
  width: 100%;
  height: 10%;
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
  text-align: center;
}

.homeBenefits-ui {
  /* background-color: indianred; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  gap: 2vh;
}

.homeBenefits-ui-cards {
  /* background-color: gainsboro; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  flex: 1;
  height: 100%;
  gap: 2vh;
}

.homeBenefits-ui-cards-card {
  /* background-color: turquoise; */
  background-color: var(--primary-color-opacity-10);
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;

  flex: 1;
  padding: 3vh 5vh;
  gap: 1vh;
  border-radius: 0.8rem;
}

.homeBenefits-ui-cards-card-medium {
  /* background-color: tomato; */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  color: var(--black-color);
  line-height: 1.3;
}

.homeBenefits-ui-cards-card-light {
  /* background-color: salmon; */

  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  color: var(--gray-color);
  line-height: 1.5;
  
}

.homeBenefits-ui-img {
  /* background-color: darkslategray; */
  height: 100%;
  width: 70%;
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.homeBenefits-ui-img img {
  /* max-width: 100%; */
  height: 100%;
  /* max-height: 100%; */
  object-fit: contain;
}
