.homeBenefits {
  /* background-color: darkred; */
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);

    --_gradient-blend-mode: normal;
  --_gradient-blur: 100px;

  background: 
    radial-gradient(at 55.9% 88.2%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 25.6% 31.8%, rgba(255,255,255,0.5) 0px, transparent 50%),
    radial-gradient(at 81.8% 32.5%, rgba(245,246,250,0.5) 0px, transparent 50%),
    radial-gradient(at 74.5% 1.2%, rgba(0,194,219,0.00) 0px, transparent 50%),
    radial-gradient(at 80.2% 53.6%, rgba(0,207,231,0.05) 0px, transparent 50%),
    radial-gradient(at 20.8% 52.7%, rgba(0,207,231, 0.09) 0px, transparent 50%),
    radial-gradient(at 90.9% 57.6%, rgba(0,182,207,0.03) 0px, transparent 50%),
    radial-gradient(at 3.9% 54.2%, rgba(0,182,207,0.03) 0px, transparent 50%) 
    #f5f6fa;
  mix-blend-mode: var(--_gradient-blend-mode);

    
  .frosted-backdrop {
    backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
  }

}

.homeBenefits-box {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  padding: 2vh 15vh;
}

.homeBenefits-box-in {
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4vh;
}

.homeBenefits-heading {
  /* background-color: firebrick; */
  width: 100%;
  /* height: 20%; */
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
  text-align: center;
}

.homeBenefits-ui {
  /* background-color: indianred; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 80%; */
  height: 100%;
  gap: 2vh;
}

.homeBenefits-ui-cards {
  /* background-color: gainsboro; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 30%; */
  flex: 1;
  height: 100%;
  gap: 2vh;
}

.homeBenefits-ui-cards-card {
  /* background-color: turquoise; */
  background-color: var(--primary-color-opacity-10);
  width: 100%;
  display: flex;
  flex-direction: column;

  flex: 1;
  padding: 3vh 5vh;
  gap: 1vh;
  border-radius: 0.8rem;
}

.homeBenefits-ui-cards-card-medium {
  /* background-color: tomato; */
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  color: var(--black-color);
  line-height: 1.3;
}

.homeBenefits-ui-cards-card-light {
  /* background-color: salmon; */

  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--gray-color);
  line-height: 1.5;
  
}

.homeBenefits-ui-img {
  /* background-color: darkslategray; */
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.homeBenefits-ui-img img {
  /* max-width: 100%; */
  height: 100%;
  /* max-height: 100%; */
  object-fit: contain;
}
