.homeBenefits {
  width: 100%;
  height: 100vh;
  padding: 2vh;
  font-family: var(--font-family);
  background-color: transparent;
}

.homeBenefits-box {
  width: 100%;
  height: 100%;
  padding: 2vh 15vh;
}

.homeBenefits-box-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4vh;
}

/* Updated selector to target H2 and reset browser defaults */
.homeBenefits-heading h2 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-28);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  color: var(--black-color);
  text-align: center;
  line-height: 1.2;
}

.homeBenefits-ui {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  gap: 2vh;
}

.homeBenefits-ui-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  gap: 2vh;
}

.homeBenefits-ui-cards-card {
  background-color: var(--primary-color-opacity-10);
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0vh 4vh;
  gap: 1vh;
  border-radius: 0.8rem;
}

/* Updated selector to target H3 and reset browser defaults */
.homeBenefits-ui-cards-card-medium {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
  color: var(--black-color);
  line-height: 1.3;
}


/* Target p tag and reset browser margins */
.homeBenefits-ui-cards-card-light {
  margin: 0;
  font-size: var(--font-size-12);
  /* font-weight: var(--font-weight-light); */
  color: var(--gray-color);
  line-height: 1.5;
}

.homeBenefits-ui-img {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.homeBenefits-ui-img img {
  height: 100%;
  width: 110%;
  object-fit: contain;
}